body{
    margin: 0px;
    background-color: black;
    font-family: jua;
}
main{
    flex:1;
    margin: 0 auto;
    max-width: 1440px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background-color: #151B23;
    height: 80px;
}
.logo_img{
    height: 64px;
    margin-left: 8px;
}
footer{
    background-color: #151B23;
    height: 80px;

}
.container_header{
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 0px;
}
.container_footer{
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 0px;
}
h1{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
    font-weight: 100;
}
@font-face {
    font-family: jua;
    src: url("./Font/Jua-Regular.ttf");
    font-display: fallback;
}
.overview_style{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 60px;
}
.single_imgage{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}