body{
    margin: 0px;
}
main{
    background-color: black;
    flex:1;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background-color: #151B23;
    height: 80px;
}
.logo_img{
    height: 64px;
    margin-left: 8px;
}
footer{
    background-color: #151B23;
    height: 80px;

}
.container_header{
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 0px;
}
.container_footer{
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 0px;
}